.button--primary {
  color: $black-light;
  background-color: $white;
  border: 2px solid $black-light;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 16px 60px;
  cursor: pointer;
}

.button--slider {
  background: $white;
  border: 1px solid $gray;
  padding: 13px 42px 13px;
  cursor: pointer;
}
