.contacts-title {
  color: $black-strong;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.contacts__table {
  color: $black-light;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts__table-digit--email {
  color: $black-light;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid $emerald;
}


