.contacts__map {
  height: 455px;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 115%;
    left: -50px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    position: relative;
    width: 101%;
    left: 0;
  }
}

.contacts__map-pin {
  position: absolute;
  left: 43%;
  top: 32%;

  @media (min-width: $tablet-width) {
    left: 47%;
    top: 31%;
  }

  @media (min-width: $desktop-width) {
    left: 45%;
    top: 32%;
  }
}
