.developed {
  display: flex;
  align-items: center;
  width: 185px;
  gap: 27px;
}

.developed-title {
  color: $black-strong;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
