.developed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  gap: 27px;

  @media (max-width: $mobile-width-only) {
    width: 260px;
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;
  }
}

.developed-title {
  font-size: 19px;
  line-height: 18px;
}

.developed__link {
  svg {
    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 30%;
    }
  }
}


.developed__footer {
  @media (min-width: $tablet-width) {
    padding-bottom: 1px;
  }
}
