.features__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.features__item:nth-child(odd) {
  background-color: $emerald;
  padding-right: 36px;
}

.features__item:nth-child(even) {
  background-color: $emerald-dark;
  padding-right: 27px;

  @media (min-width: $tablet-width) {
    padding-right: 34px;
  }
}

.features__link {
  display: flex;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 32px;
  justify-content: space-between;
}

.features__item {
  @media (min-width: $tablet-width) {
    &:hover {
      margin-top: -5px;
      transform: translateY(-5px);
    }
  }
}

.features__link:hover svg {
  opacity: 0.7;
}

.features__link:active svg {
  opacity: 0.3;
}

.features__link-text {
  color: $white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  align-self: center;
}

.features__link svg {
  fill: #149080;
  opacity: 0.5;
}
