.features {
  height: 500px;
  background: url("../img/features-underlay(m).png") no-repeat center;
  background-position-y: -20px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (max-width: $mobile-width-only) {
    max-width: 767px;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    height: 760px;
    background: url("../img/features-underlay(t).png") center no-repeat;
    margin-top: -48px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/features-underlay(d).png") center no-repeat;
    margin-bottom: 70px;
  }
}

.features::before,
.features::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    height: 280px;
    width: 70vw;
    background-color: #f9f9f9;
    top: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    height: 790px;
    width: 80vw;
    background-color: #f9f9f9;
    top: 86px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    height: 749px;
  }
}

.features::before {
  right: 0;
}

.features::after {
  left: 0;
}

.main__title {
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    padding-top: 150px;
    margin-bottom: 390px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    padding-top: 150px;
    margin-bottom: 370px;
  }
}

.features__list-wrapper {
  position: relative;
}

.features__edging {
  @media (min-width: $tablet-width) {
    background: url("../img/features-edging(t).svg");
    min-width: 145vw;
    max-width: 180vw;
    height: 24px;
    position: absolute;
    bottom: -3px;
    left: - 50vw;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/features-edging(d).svg");
    height: 34px;
    position: absolute;
    bottom: -20px;
    min-width: 126vw;
  }
}
