.feedback {
  position: relative;

  @media (max-width: $mobile-width-only) {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 90px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 155px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 165px;
  }
}

.feedback-title {
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 82.5px;
    padding-bottom: 38.5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-top: 79px;
    padding-bottom: 35px;
  }
}

.response {
  @media (min-width: $tablet-width) {
    margin-bottom: 118px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 165px;
  }
}

.response__description {
  color: $black-light;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  padding: 12px 30px;

  @media (min-width: $tablet-width) {
    width: 670px;
    padding: 0;
    padding-bottom: 61px;
    font-size: 17px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-bottom: 44px;
    width: 980px;
  }
}

.response__wrapper {
  display: flex;
  flex-direction: column;
  padding: 22px 30px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.response__author {
  color: $black-strong;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 8px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding-bottom: 6px;
  }
}

.response__email {
  color: $black-light;
  font-size: 17px;
  line-height: 24px;
}

.feedback__slider-butttons-positioner {
  display: flex;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 175px;
    padding: 0;
  }
}

.feedback__button-positioner {
  @media (min-width: $tablet-width) {
    width: 175px;
    padding: 0;
  }
}

.feedback__buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 45px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    position: absolute;
    height: 100%;
    justify-content: space-between;
    top: 0;
    right: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 98px;
  }
}

.feedback__edging {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: -50vw;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: -50vw;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.feedback__underlay-container {
  @media (min-width: $tablet-width) {
    position: absolute;
    background: url("../img/feedback-underlay.jpg") no-repeat;
    height: 100%;
    width: 350px;
    left: -50px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feedback-underlay@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}
