.feedback-title {
  padding: 0;
  margin: 0;
  color: $black-strong;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.response__description {
  color: $black-light;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 30px;
}

.response__author {
  color: $black-strong;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.response__email {
  color: $black-light;
  font-size: 17px;
  line-height: 24px;
}
