.fieldset__type {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 200px 500px;
    margin-bottom: 100px;
  }
}

.fieldset__type-label {
  display: flex;
  align-items: center;
  gap: 19px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    gap: 26px;

    br {
      display: none;
    }
  }
}

.fieldset__type-label:not(:last-child) {
  margin-bottom: 11px;
}

.legend__type {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin-bottom: -16px;
  }
}

.legend__type::after {
  content: "";
  height: 1px;
  width: 470%;
  position: absolute;
  top: 50%;
  left: 175%;
  background-color: $emerald;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
