.order-form__description {
  color: $black-light;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.order-form__fieldset {
  color: $black-strong;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  border: none;
}

.order-form__legend {
  color: $emerald;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.form-input--text-field {
  border: none;
  box-shadow: inset 0px -2px 0px $black-strong;
  height: 52px;
}

.order-form__notification {
  color: $black-light;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
