.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.products__item {
  border: 1px solid $gray;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 335px 335px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    height: 660px;

    &:first-child {
      margin-bottom: 53px;
    }

    &:nth-child(2) {
      margin-bottom: 51px;
    }

    &:nth-child(3) {
      margin-bottom: 52px;
    }
  }

  picture {
    grid-row: 1 / 3;
  }
}

.products__item:not(:nth-child(3n)) {
  @media (min-width: $desktop-width) {
    margin-right: 48px;
    margin-bottom: 55px;
  }
}
