.products__link {
  color: $black-strong;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    font-size: 20px;
  }
}

.products__heading {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding-left: 28px;
  padding-top: 28px;
  padding-bottom: 7px;
}

.products__link-description {
  color: $black-light;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  padding-left: 28px;
  padding-bottom: 17.5px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.products__item-buy-wrapper {
  width: 200px;
  align-self: center;
  border-top: 1px solid $gray;

  @media (min-width: $tablet-width) {
    width: 268px;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}

.products__link-buy svg {
  opacity: 20%;
}

.products__link-buy {
  color: $black-strong;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding-top: 22.5px;
  padding-bottom: 26.5px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 19px;
  }

  &:hover {
    svg {
      fill: $emerald;
      opacity: 100%;
    }
  }

  &:active {
    svg {
      opacity: 30%;
    }
  }
}

.products__image {
  @media (min-width: $tablet-width) {
    grid-row: 1 / -1;
  }
}

.products__link-wrapper {
  &:hover {
    h2 {
      opacity: 60%;
    }
  }

  &:active {
    h2 {
      opacity: 30%;
    }
  }
}

.products__item-wrapper {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    height: 100%;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}
