.site-list--closed,
.site-list {
  position: absolute;
  top: 102%;
  background-color: $white;
  z-index: 1;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr 100% 1fr;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    width: 380px;
    padding-left: 30px;
    position: static;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    background-color: $white;
    width: 460px;
  }
}

.site-list--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.site-list__link {
  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 15px;
  }
}

.site-list__item--catalog {
  @media (min-width: $desktop-width) {
    border-right: 1px solid rgba($color: $black-strong, $alpha: 0.1);
    padding-left: 5px;
    padding-right: 20px;
  }
}
