.site-list {

  display: none;
  position: absolute;
  top: 100%;
  background-color: $white;
  z-index: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    display: flex;
    flex-wrap: wrap;
    order: 2;
    width: 370px;
    position: static;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    order: 1;
  }
}

.site-list__link {
  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 15px;
  }
}
