.button {
  color: $black-light;
  background-color: $white;
  border: 2px solid $black-light;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
}

.button--primary {
  width: 260px;
}

.button--make-order {
  width: 192px;
}

.button--slider {
  border: 1px solid $gray;
  padding: 13px 42px 13px;
}
